<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="featured.css">
    <title>Document</title>
</head>
<body>
    <div class="carousel-card">
        <ul class="card-count">
            <li><img src="current.svg" alt="" class="circle"></li>
            <li><img src="noncurrent.svg" alt="" class="circle"></li>
            <li><img src="noncurrent.svg" alt="" class="circle"></li>
        </ul>

        <div class="card">
            <div class="image-holder">
                <img src="product pic.png" alt="" class="product-img">
            </div>
            <form class="product-description">
                <h3 class="product-name">Plant Decor</h3>
                <h5 class="description">
                    Decorate your house and live close to the nature.
                    <br>
                    Buy today.
                </h5>
                <button type="submit" class="view-btn">View</button>
            </form>
        </div>
    </div>
    <script src="featured.js"></script>
</body>
</html>